<p>Component to update the product!</p>





<div class="container">
    <form (ngSubmit)="UpdateProduct()">
      <div class="form-group">
      <label for="">ProductId</label>
      <input type="text" class="form-control" id="productId" [(ngModel)]="prod.productId"
      name="productId" minlength="8" required #tempvarname="ngModel" />
    </div>
      
  
      <div class="form-group">
        <label for="">Brand</label>
        <input type="text" class="form-control" id="brand" [(ngModel)]="prod.brand"
        name="brand" required #temp1="ngModel" minlength="8"/>
      </div>
     
      
      <div class="form-group">
        <label for="">quantity</label>
        <input type="text" class="form-control" id="qty" [(ngModel)]="prod.qty"
        name="qty"/>
      </div> 
      
      <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" id="price" [(ngModel)]="prod.price"
        name="price"/>
      </div>
          
      <div class="form-group">
        <label for="">Description</label>
        <input type="text" class="form-control" id="desc" [(ngModel)]="prod.description"
        name="desc"/>
      </div>
      <button type="submit">Update</button>
    </form>
  </div>
